<%- include header%>
<p>
	<% if(user&&(user.name==post.name)){%>
	<span>
		<a class="edit" href="/edit/<%= post.name%>/<%= post.time.day%>/<%= post.title%>">edit</a>
	</span>
	<span>
		<a class="edit" href="/remove/<%= post.name%>/<%= post.time.day%>/<%= post.title%>">Remove</a>
	</span>
	<%}%>

</p>
<div class="container">
<p class="info">

	<h2><%- title%></h2>
    作者:<a href="/u/<%=post.name%>"><%= post.name%></a>|
    日期:<%= post.time.day%>
    标签：
         <%post.tags.forEach(function(tag, index){%>
         <% if(tag){%>
         <a href="/tags/<%=tag%>" class="tag"><%=tag%></a>
         <%}%>
         <%})%>

</p>
<p><%- post.post%></p>
<p class="info">
	阅读：<%= post.pv%>|
	评论：<%= post.comments.length%>
</p>
</div>
<%- include comment%>
<%- include footer%>